@model List<Spell>
@{
    ViewData["Title"] = "Spellbook";
}


<section class="container pt-5 mb-5">
    <h1 class="mb-4">Tempor nostrud magna aliqua.</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
    </p>
</section>


<section class="container mb-5">
    <h2 class="mb-4">White Magic</h2>

    <div class="row">
        @for (int i = 0; i < ViewBag.White.Count; i++)
        {
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.White[i].SpellID">
                        <img class="card-img-top" src="~/img/@ViewBag.White[i].Filename" alt="Spell image" aria-hidden="true">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.White[i].Title</h4>
                        <p class="card-text overflow">@ViewBag.White[i].Enchantment</p>
                        <div class="text-right mb-3">
                            <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.White[i].SpellID" class="text-right">Read more &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="text-uppercase small">
                            <span class="badge badge-pill badge-dark">@ViewBag.White[i].MagicType</span>
                            <span class="badge badge-pill badge-dark">@ViewBag.White[i].Intention</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


<section class="container mb-5">
    <h2 class="mb-4">Grey Magic</h2>

    <div class="row">
        @for (int i = 0; i < ViewBag.Grey.Count; i++)
        {
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Grey[i].SpellID">
                        <img class="card-img-top" src="~/img/@ViewBag.Grey[i].Filename" alt="Spell image" aria-hidden="true">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Grey[i].Title</h4>
                        <p class="card-text overflow">@ViewBag.Grey[i].Enchantment</p>
                        <div class="text-right mb-3">
                            <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Grey[i].SpellID" class="text-right">Read more &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="text-uppercase small">
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Grey[i].MagicType</span>
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Grey[i].Intention</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


<section class="container mb-5">
    <h2 class="mb-4">Black Magic</h2>

    <div class="row">
        @for (int i = 0; i < ViewBag.Black.Count; i++)
        {
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Black[i].SpellID">
                        <img class="card-img-top" src="~/img/@ViewBag.Black[i].Filename" alt="Spell image" aria-hidden="true">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Black[i].Title</h4>
                        <p class="card-text overflow">@ViewBag.Black[i].Enchantment</p>
                        <div class="text-right mb-3">
                            <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Black[i].SpellID" class="text-right">Read more &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="text-uppercase small">
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Black[i].MagicType</span>
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Black[i].Intention</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>