@model List<Spell>;
@{
    ViewData["Title"] = "Featured Spells";
}


<section class="jumbotron bg-white mb-sm-5 pr-md-0">
    <div class="row align-items-center justify-content-end">
        <div class="col offset-lg-1">
            <h1>Lorem ipsum dolor sit amet, tempornostrud magna aliqua.</h1>
        </div>
        <div id="jumbo-img" class="col-12 col-md-7 order-first order-md-12 mb-5 mb-md-0">
            <img src="~/img/devil-goat-with-sacred-geometry.png" class="img-fluid" alt="display image" aria-hidden="true" />
        </div>
    </div>
</section>

<section class="container mb-5">
    <h2 class="mb-4">Tempor nostrud magna aliqua.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
    </p>
</section>


<section class="container mb-5">
    <div class="row">
        <div class="col mb-4">
            <h2 class="mb-0">Featured Spells</h2>
        </div>
        <div class="col text-right">
            <a asp-area="" asp-controller="spellbook" asp-action="index">View all spells &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <div class="row">
        @for (int i = 0; i < ViewBag.Spell.Count && i < 6; i++)
        {
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Spell[i].SpellID">
                        <img class="card-img-top" src="~/img/@ViewBag.Spell[i].Filename" alt="Spell image" aria-hidden="true">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Spell[i].Title</h4>
                        <p class="card-text overflow">@ViewBag.Spell[i].Enchantment</p>
                        <div class="text-right mb-3">
                            <a asp-controller="spellbook" asp-action="enchantment" asp-route-id="@ViewBag.Spell[i].SpellID" class="text-right">Read more &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="text-uppercase small">
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Spell[i].MagicType</span>
                            <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Spell[i].Intention</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


<section class="container bg-lightgray mb-5 p-5">
    <h2 class="mb-4">Tempor nostrud magna aliqua.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
    </p>
    <div class="text-right">
        <a class="btn bg-darkgray text-light px-4 py-2" asp-area="" asp-controller="spellbook" asp-action="castspell">
            Cast a spell
        </a>
    </div>
</section>

<partial name="_NewsletterSignupPartial" />