@model List<Spell>;
@{
    ViewData["Title"] = "Search Results";
}


<section class="container mb-5">
    <h2 class="mb-4">Search results</h2>
    <p class="mb-5">@ViewBag.Message</p>

    @if (ViewBag.Result != null)
    {
        <div class="row">
            @for (int i = 0; i < ViewBag.Result.Count; i++)
            {
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="~/img/@ViewBag.Result[i].Filename" alt="Spell image" aria-hidden="true">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Result[i].Title</h4>
                            <p class="card-text overflow">@ViewBag.Result[i].Enchantment</p>
                            <div class="text-right mb-3">
                                <a asp-controller="spellbook" asp-action="enchantment" name="@ViewBag.Result[i].Title" class="text-right">Read more &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="text-uppercase small">
                                <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Result[i].MagicType</span>
                                <span class="badge badge-pill bg-darkgray text-light">@ViewBag.Result[i].Intention</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>